
<app-header (onSearch)="searchRecipes($event)"></app-header>


<div class="container my-4" *ngIf="recipes?.length > 0">
  <div class="loading" *ngIf="loading"><span></span></div>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let r of recipes">
      <a class="recipe" [routerLink]="'/recipes/'+r?.id+'/recipe-details'">
        <div class="img-container">
          <img class="recipe-img" [src]="r?.image" alt="">
          <span (click)="addToFavorites($event, r)" class="fav-icon"><img [src]="r?.isFavorite ? 'assets/heart-fill.svg' : 'assets/heart.svg'" alt=""></span>
        </div>
        <div class="content">
          <h6 class="title">{{r?.title}}</h6>
          <p class="summary" [innerHTML]="r?.summary | slice:0:200">...</p>
          <!-- <p class="summary">{{r?.summary | slice:0:200}}...</p> -->
          <hr>
          <ul class="more-info mb-0 ps-0 list-unstyled">
            <li>
              <img src="assets/clock.svg" alt="">
              <span>{{r?.readyInMinutes}} mins</span>
            </li>
            <li>
              <img src="assets/thumbs-up.svg" alt="">
              <span>{{r?.aggregateLikes}}</span>
            </li>
          </ul>
        </div>
      </a>
    </div>
  </div>

  <nav aria-label="Page navigation" *ngIf="page == 'home'">
    <ul class="pagination justify-content-center mb-0" style="gap: 4px;">
      <li class="page-item">
        <button (click)="previous()" [disabled]="pageNumber == 1" class="page-link">Previous</button>
      </li>

      <li class="page-item" *ngIf="pageNumber != 1">
        <button (click)="paginate(pageNumber-1)" class="page-link">{{pageNumber-1}}</button>
      </li>
      <li class="page-item active">
        <button (click)="paginate(pageNumber)" class="page-link">{{pageNumber}}</button>
      </li>
      <li class="page-item" *ngIf="numOfPages - pageNumber != 0">
        <button (click)="paginate(pageNumber+1)" class="page-link">{{pageNumber+1}}</button>
      </li>
      <li class="page-item" *ngIf="numOfPages - pageNumber > 1">
        <button (click)="paginate(pageNumber+2)" class="page-link">{{pageNumber+2}}</button>
      </li>
      <li class="page-item" *ngIf="pageNumber == 1 && numOfPages - pageNumber > 2">
        <button (click)="paginate(pageNumber+3)" class="page-link">{{pageNumber+3}}</button>
      </li>

      <!-- <li class="page-item" *ngFor="let item of [].constructor(numOfPages); let i=index">
        <button (click)="paginate(i+1)" class="page-link">{{i+1}}</button>
      </li> -->
      <li class="page-item">
        <button (click)="next()" [disabled]="pageNumber == numOfPages" class="page-link">Next</button>
      </li>
    </ul>
  </nav>

</div>

<div class="container my-4" *ngIf="recipes?.length <= 0">
  <h5>Data Not Found</h5>
</div>
